@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  scrollbar-width: none; /* Hides scrollbar */
}

*::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-bounce-alt: bounce 0.4s;
  --animate-up: up 0.4s;

  @keyframes bounce {
    0%, 100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  @keyframes up {
    0% {
      transform: none;
      opacity: 0;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    5% {
      opacity: 1;
    }
    100% {
      transform: translateY(-25%);
      opacity: 0;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}